#showSecondPopupButton{
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    text-decoration: underline;
}

#showThirdPopupButton{
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    text-decoration: underline;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    border: 3px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none; /* Masquer par défaut */
}

.popup2 button{
    width: 100px;
    height: 30px;
    background-color: #0003be;
    border: 2px solid #000231;
    cursor: pointer;
    transition: border-radius 0.7s ease;
}

.popup2 .popup-button2{
    width: 200px;
    height: 30px;
    background-color: #0003be;
    border: 2px solid #000231;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: border-radius 0.7s ease;
}

.popup2 .popup-button2:hover{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.popup2-title{
    color: #fff;
}

.popup2-txt{
    color: #ccc;
}

.popup2-serie{
    color: #fff;
}

@media screen and (max-width : 768px){
    .popup2{
        width: 300px;
        height: auto;
    }
}