/*/==---popus test---==/*/

.popup {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.534);
    backdrop-filter: blur(10px);
    transition: backdrop-filter .4s;
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}

.popup button {
    width: 500px;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup-content{
    position: fixed;
    flex-direction: column;
    opacity: 0;
    max-width: 570px;
    max-height: auto;
    max-height: 800px;
    color: aliceblue;
    font-family: Arial, sans-serif;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background-color: rgba(3, 3, 3, 0.562);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 5px solid rgb(41, 41, 41);
    display: flex;
}

.popup-content{
    opacity: 1;
    top: 10%;
}

.popup-header{
    display: column;
    position: fixed;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: auto;
    align-items: center;
}

.popup-header img{
    width: 100%;
    height: 100%;
}

.header-titre{
    display: flex;
    justify-content: space-between;
    padding: 2px 2%;
    width: auto;
    font-weight: bold;
}

.header-titre .btn-close{
    right: 10px;
}

*{
    box-sizing: border-box;
}

.popup-header img{
    align-items: center;
    justify-content: space-between;
    left: 0;
}

.popup-footer {
    background-color: rgba(66, 65, 65, 0.562);
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
}

.popup-body{
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    
}
.popup-body p{
    font-size: small;
}

.popup-body b{
    font-size: medium;
}

.popup .popup-footer .text-footer {
    margin: auto auto;
    font-size: small;
}
