/*/==---popus test---==/*/

.popup {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.534);
    backdrop-filter: blur(10px);
    transition: backdrop-filter .4s;
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup-content{
    position: fixed;
    flex-direction: column;
    opacity: 0;
    max-width: 570px;
    max-height: auto;
    max-height: 800px;
    color: aliceblue;
    font-family: Arial, sans-serif;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background-color: rgba(3, 3, 3, 0.562);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 5px solid rgb(41, 41, 41);
    display: flex;
}

.popup-content{
    opacity: 1;
    top: 10%;
}

.popup-header{
    display: column;
    position: fixed;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: auto;
    align-items: center;
}

.popup-header img{
    width: 100%;
    height: 100%;
}

.header-titre{
    display: flex;
    justify-content: space-between;
    padding: 2px 2%;
    width: auto;
    font-weight: bold;
}

.header-titre .btn-close{
    right: 10px;
}

*{
    box-sizing: border-box;
}

.popup-header img{
    align-items: center;
    justify-content: space-between;
    left: 0;
}

.popup-footer {
    background-color: rgba(66, 65, 65, 0.562);
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
}

.popup-body{
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    
}
.popup-body p{
    font-size: small;
}

.popup-body b{
    font-size: medium;
}

.popup .popup-footer .text-footer {
    margin: auto auto;
    font-size: small;
}

/*/==--- Bouton footer ---==/*/

.popup .popup-footer .btn-close {
    margin-top: 5px;
    padding-top: 3px;
    position: relative;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(24, 23, 23);
    border: 3px solid rgb(24, 23, 23);
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #DB202C;
    z-index: 2;
    transition: 0.2s;
    overflow: hidden;
}

.popup .popup-footer .btn-close:hover {
    color: white;
    width: 100px;
    height: 46px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid #DB202C;
}

.popup .popup-footer .btn-close::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 46px;
    top: -2px;
    left: -2px;
}

.popup .popup-footer .btn-close:hover::before {
    transform: translate(0%);
    transition: 0.2s;
}

.popup .popup-footer .btn-close:hover {
    color: white;
}

.popup .popup-footer .btn-close i {
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
}

.popup .popup-footer .btn-close:hover i {
    transform: scale(5);
    margin-left: 20px;
}



.popup .popup-footer .btn-see {
    margin-top: 5px;
    padding-top: 3px;
    position: relative;
    height: 45px;
    width: 120px;
    border-radius: 10px;
    background-color: rgb(24, 23, 23);
    border: 3px solid rgb(24, 23, 23);
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #dfbd29;
    z-index: 2;
    transition: 0.2s;
    overflow: hidden;
}

.popup .popup-footer .btn-see:hover {
    color: white;
    width: 120px;
    height: 46px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid #dfbd29;
}

.popup .popup-footer .btn-see::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 46px;
    top: -2px;
    left: -2px;
}

.popup .popup-footer .btn-see:hover::before {
    transform: translate(0%);
    transition: 0.2s;
}

.popup .popup-footer .btn-see:hover {
    color: white;
}

.popup .popup-footer .btn-see i {
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
}

.popup .popup-footer .btn-see:hover i {
    transform: scale(5);
    margin-left: 20px;
}